<a href="#/" id="logo">VooVe</a>
<form action="#" id="search">
	<input type="search" name="q" placeholder="Поиск">
</form>
<i class="mdi mdi-search"></i>
<i id="nav_btn" class="mdi {{ menu.opened ? 'mdi-close' : 'mdi-menu' }}" ng-click="toggleMenu()"></i>