<nav id="main_nav"  ng-model='navClass' class="{{menu.opened ? 'opened' : 'closed'}}" 
					ng-swipe-left="menu.opened = false">
	<ul>
		<li>
			<a href="#/home" ng-click="menu.opened = false">
				<i class="mdi mdi-home"></i>Главная
			</a>
		</li>
		<li>
			<a href="#/articles" ng-click="menu.opened = false">
				<i class="mdi mdi-more"></i>Статьи
			</a>
		</li>
		<li>
			<a href="#/users" ng-click="menu.opened = false">
				<i class="mdi mdi-account-multiple"></i>Пользователи
			</a>
		</li>
		<li>
			<a href="#/themes" ng-click="menu.opened = false">
				<i class="mdi mdi-bank"></i>Темы
			</a>
		</li>
		<li>
			<a href="#signin" ng-click="menu.opened = false">
				<i class="mdi mdi-login"></i>Вход
			</a>
		</li>
	</ul>
</nav>