.comfortaa	{ font-family: 'Comfortaa', cursive; }
.lobster	{ font-family: 'Lobster', cursive; }
.roboto		{ font-family: 'Roboto', serif; }
.ubuntu		{ font-family: 'Ubuntu', sans-serif; }

@base-color: darkgrey;
@second-color: darkslateblue;
@success-color: darkgreen;
@error-color: maroon;

* {
	margin: 0;
	padding: 0;
	.ubuntu;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

#logo {
	color: white;
	text-shadow: .1em .1em .2em rgba(0, 0, 0, .4);
	text-decoration: none;
	font-size: 2em; 
	.lobster;
}

.clear-fix {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

.vertical-middle {
	display: table;
	width: 100%;
	&>* {
		vertical-align: middle;
		display: table-cell;
	}
}

#header {
	position: absolute;
	width: 100%;
	padding: 1em;
	z-index: 10;
	box-sizing: border-box;
	#logo { margin-right: 1em; float: left;  }
	#nav_btn {
		position: fixed;
		top: .25em;
		right: .25em;
		padding: .25em;
		font-size: 2em;
		color: white;
		text-shadow: .1em .1em .2em #222;
		box-shadow: .1em .1em .2em #222;
		background: @base-color;
		border-radius: 1em;
		font-weight: lighter;
	}
	#search {
		margin: 0 1em;
		float: left;
		input {
			background: transparent;
			position: relative;
			display: none;
			padding: .3em .6em;
			border: none;
			outline: none;
			font-size: 1em;
			box-sizing: border-box;
			.placeholder {
				color: white;
			}
			&::-webkit-input-placeholder { .placeholder; }
			&::-moz-placeholder { .placeholder; }
			&:-moz-placeholder { .placeholder; }
			&:-ms-input-placeholder { .placeholder; }
			&:focus {
				box-shadow: 0 .1em .2em #222;
			}
		}
	}
}

#main_nav {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	.vertical-middle;
	background: @base-color;
	z-index: 9;
	transition: left ease .3s;
	ul {
		list-style: none;
		li {
			display: block;
			a {
				display: block;
				padding: 1em 2em;
				color: white;
				text-shadow: .1em .1em .2em #222;
				text-transform: uppercase;
				font-weight: bold;
				text-decoration: none;
				i {	margin-right: .5em; }
			}
		}
	}
	&.opened {
		left: 0;
	}
}

#articles, #article {
	&#articles {
		article {
			min-height: 100vh;
		}
		footer {
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}
	&#article {
		h1 {
			position: absolute;
			bottom: 1em;
			left: 1em;
			color: white;
			text-shadow: .1em .1em .3em #222;
			font-size: 1.5em;
		}
	}
	article {
		position: relative;
		box-sizing: border-box;
		margin: 0;
		header {
			position: relative;
			img { width: 100%; }
			h1 {
				position: absolute;
				bottom: 1em;
				left: 1em;
				a {
					color: white;
					text-shadow: .1em .1em .3em #222;
					font-size: 1.5em;
					text-decoration: none;
				}
			}
		}
		main {
			display: block;
			padding: 1em;
			.author {
				font-weight: bold;
				font-size: .8em;
				float: left;
				padding: .3em;
				border-radius: .3em;
				text-decoration: none;
				margin: 0 0 1em 0;
				color: white;
				background: @base-color;
			}
			time { 
				font-size: .8em;
				color: @base-color;
				float: right;
			}
			p {
				font-size: 1em;
				margin-bottom: 1em;
				text-overflow: ellipsis;
				font-weight: bold;
				clear: both;
				vertical-align: top;
				.roboto;
			}
		}
		footer {
			line-height: 1em;
			.vertical-middle; 
			padding: 1em;
			border-top: 1px solid #222;
			a, button {
				font-size: .7em;
				text-decoration: none;
				font-weight: bold;
				border: none;
				outline: none;
				background: none;
				margin: 0 .5em;
			}
			.cat {
				color: white;
				background: @base-color;
				display: inline-block;
				padding: .3em;
				border-radius: .3em;
			}
			.mdi-close { color: @error-color; }
			.mdi-plus { color: @success-color; }
			.mdi-thumb-up { color: @success-color; }
			.mdi-thumb-down { color: @error-color; }
			.mdi-comment { color: @second-color; }
		}
	}

	form {
		display: block;
		padding: 1em;
		border-top: 1px solid #222;
		textarea, input {
			display: block;
			font-size: .8em;
			padding: .3em;
			border-radius: .3em;
			outline: none;
			.roboto;
			&[type="submit"] {
				background: @second-color;
				color: white;
				border: none;
			}
		}
		textarea { width: 100%; margin-bottom: 1em; height: 4em; }
	}

	.comments {
		list-style: none;
		border-top: 1px solid #222;
		li {
			padding: 1em;
			border-bottom: 1px solid @base-color;
			.clear-fix;
			time {
				font-size: .8em;
				color: @base-color;
				float: right;
			}
			.author {
				font-weight: bold;
				font-size: .8em;
				float: left;
				padding: .3em;
				border-radius: .3em;
				text-decoration: none;
				margin: 0 0 1em 0;
				color: white;
				background: @base-color;
			}
			p {
				clear: both;
				.roboto;
			}
		}
	}
}