<section id="articles">
	<article ng-repeat="art in articles">
		<header>
			<h1><a href="#/articles/{{ art.id }}">{{ art.title }}</a></h1>
			<img ng-src="{{ art.image }}" alt="{{ art.title }}">
		</header>
		<main>
			<div class="author">{{ art.author }}</div>
			<time>{{ art.time }}</time>
			<p>{{ art.text }}</p>
		</main>
		<footer>
			<a class="cat" href="#">{{ art.cat }}</a>
			<a class="mdi mdi-plus" href="#"></a>
			<a class="mdi mdi-edit" href="#"></a>
			<button class="mdi mdi-close" ng-click="remove(art)"></button>
			<button class="mdi mdi-thumb-up" ng-click="like(art)">{{ art.plus }}</button>
			<button class="mdi mdi-thumb-down" ng-click="dislike(art)">{{ art.minus }}</button>
			<a href="#" class="mdi mdi-comment">{{ art.comments.length }}</a>
		</footer>
	</article>
</section>