<section id="article">
	<article>
		<header>
			<img ng-src="{{ article.image }}" alt="{{ article.title }}">
			<h1>{{ article.title }}</h1>
		</header>
		<main>
			<div class="author">{{ article.author }}</div>
			<time>{{ article.time }}</time>
			<p>{{ article.text }}</p>
		</main>
		<footer>
			<a class="cat" href="#">{{ article.cat }}</a>
			<a class="mdi mdi-plus" href="#"></a>
			<a class="mdi mdi-edit" href="#"></a>
			<button class="mdi mdi-close" ng-click="remove(article)"></button>
			<button class="mdi mdi-thumb-up" ng-click="like(article)">{{ article.plus }}</button>
			<button class="mdi mdi-thumb-down" ng-click="dislike(art)">{{ article.minus }}</button>
			<a href="#" class="mdi mdi-comment">{{ article.comments.length }}</a>
		</footer>
	</article>
	<form>
		<textarea name="text" ng-model="comment.text"></textarea>
		<input type="submit" value="Отправить" ng-click="article.addComment(comment.text)">
	</form>
	<ul class="comments">
		<li ng-repeat="comment in article.comments">
			<span class="author">{{ comment.author }}</span>
			<time>{{ comment.time }}</time>
			<p>{{ comment.text }}</p>
		</li>
	</ul>
</section>